{% extends 'base.html' %}
{% load static %}
{% load humanize %}

{% block title %} Post {% endblock %}
{% block content %}
    <div class="col-lg-6 col-md-6 col-sm-12 mt-3 ">
        <div class="container post shadow mb-3 white">
            <div>
                <div class="row">
                    <div class="col-6 text-left inside-post-other-info">
                        <button class="btn other-btn save-post p-2"><i class="far fa-bookmark"
                                {% if saved %} style="color: #2962ff;" {% endif %}></i><p class="d-none">{{ post.id }}</p></button>
                        <button class="btn other-btn p-2"><i class="far fa-envelope"></i></button>
                    </div>
                    <div class="col-6 text-right">
                        <div class="dropdown show mt-3">
                            <a href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown"
                               aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-ellipsis-v"></i>
                            </a>

                            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                <a class="dropdown-item" href="#">Action</a>
                                <a class="dropdown-item" href="#">Another action</a>
                                <a class="dropdown-item" href="#">Something else here</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="post-info">
                <div class="post-title px-3">
                    <h2 class="text-center mb-3">{{ post.title }}</h2>
                </div>
                <div class="inside-post-owner-info">
                    <div class="row">
                        <div class="col-12 text-center">
                            <a href="{% url 'profile' post.user.username %}">{% if post.user.userinfo.image %}
                                <img src="{{ post.user.userinfo.image.url }}">&nbsp;
                            {% else %}
                                <img src="{% static 'img/user.png' %}">&nbsp;
                            {% endif %}</a>
                            <a href="{% url 'profile' post.user.username %}">
                                <p class="lead">{{ post.user.first_name }}&nbsp;{{ post.user.last_name }}</p>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="post-time">
                    <div class="row">
                        <div class="col-12 text-center">
                            <p>{{ post.time | timesince }}</p>
                        </div>
                    </div>
                </div>
                <div class="inside-post-tag text-center">
                    {% for tag in tags %}
                        <button class="btn tag-btn " onclick="location.href='{% url 'tag-post' tag.name %}'">{{ tag.name }}</button>
                    {% endfor %}
                </div>
            </div>
            {% if post.image %}
                <div class="post-img mt-5">
                    <img src="{{ post.image.url }}" alt="">
                </div>
            {% endif %}
            <div class="post-description mt-5">
                <p class="text-justify">{{ post.description }}</p>
            </div>
            <hr>
            <div class="post-status">
                <div class="row">
                    <p class="d-none post-id">{{ post.id }}</p>
                    <div class="col-3 text-left">
                        <button {% if myVote.vote_direction == "plus"%} style="color:#2962ff;" {% endif %}
                                                                        class="btn status-btn plus">
                            <i class="far fa-plus-square"></i>&nbsp;&nbsp;<span class="vote-count">{{ pVote }}</span>
                        </button>
                    </div>
                    <div class="col-3 text-left">
                        <button {% if myVote.vote_direction == "minus"%} style="color:#2962ff;" {% endif %}
                                                                         class="btn status-btn minus">
                            <i class="far fa-minus-square"></i>&nbsp;&nbsp;<span class="vote-count">{{ nVote }}</span>
                        </button>
                    </div>
                    <div class="col-6 text-center">
                        <button class="btn status-btn">
                            <i class="far fa-comment"></i>&nbsp;&nbsp;<span>Comment ({{ comments.comments|length }})</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <p id="post_id" class="d-none">{{ post.id }}</p>

        <div class="container comment shadow white">
            <div class="container">
                <div class="row pt-3 pb-4">
                    <div class="col-xl-2 col-lg-3 col-md-4">
                        {% if  user_profile_pic %}
                            <img src="{{ user_profile_pic.url }}">
                        {% else %}
                            <img src="{% static 'img/user.png' %}">
                        {% endif %}
                    </div>
                    <div class="col-xl-10 col-lg-9 col-md-8 mt-1">

                        <div class="input-group">
                                    <textarea class="form-control" placeholder="Write your comment"
                                              aria-label="With textarea" id="text-area-comment"></textarea>
                        </div>
                    </div>
                </div>
            </div>
            <div class="comment-space temp-class">
                {% for comment, replies, cpvVote, cnVote, voted in comments %}
                    {% include 'partials/post/_comment.html' %}
                {% endfor %}
            </div>
            <hr>
        </div>
        <div></div>
    </div>
{% endblock %}